/** Custom Properties **/

:root{
    --colorPrimario: #037bc0;
    --colorSecundario: #8cbc00;
    --colorSecundarioHover: #769c02;
    --grisPrimario: #e1e1e1;
    --negro: #000;
    --blanco: #fff;
    --fuenteHeadings: 'Playfair Display', serif;
    --fuentePrimaria: 'Raleway', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/

h1, h2, h3{
    font-family: var(--fuenteHeadings);
    margin: 0 0 5rem 0 ;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: var(--negro);
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    background-color: var(--colorSecundario);
    display: block;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover{
    background-color: var(--colorSecundarioHover);
}   

/** Utilidades **/

.text-center{
    text-align: center;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    /*margin-inline: auto; Alternativa */
}

/** Header y Navegacion **/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: var(--colorPrimario);
}

.contenedor-navegacion{
    border-top: .1rem solid var(--grisPrimario);
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    transition: color .3s ease-in;
}

.nav-principal a:hover{
    color: var(--colorPrimario);
}

.hero{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem; 
}

/** Categorias **/

.categorias{
    margin-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: var(--colorPrimario);
    color: var(--blanco);
    border-bottom-right-radius: 1rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/** Bloque Nosotros **/

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, var(--colorPrimario) 50%, var(--colorPrimario) 100% ), url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    margin-top: 5rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem
}

.texto-nosotros{
    grid-column: 2 / 3;
    color: var(--blanco);
}


/** Listado Productos **/

.contenido-principal{
    padding-top: 5rem;
}

.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto:nth-child(1){
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img{
    height: 45rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column: 1 / 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3){
    grid-column: 4 / 7;
}

.producto:nth-child(4){
    grid-column: 1 / 3;
}

.producto:nth-child(5){
    grid-column: 3 / 5;
}

.producto:nth-child(6){
    grid-column: 5 / 7;
}

.producto{
    background-color: var(--colorPrimario);
}

.texto-producto{
    text-align: center;
    color: var(--blanco);
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.txtproducto-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Footer **/

.site-footer{
    border-top: 0.1rem solid var(--grisPrimario);
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3{
    margin-bottom: .5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a{
    display: flex;
    flex-direction: column;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
    background-color: var(--grisPrimario);
    margin-bottom: 0;
    padding: 2rem 0;
}

