/** Custom Properties **/

:root{
    --colorPrimario: #037bc0;
    --grisPrimario: #e1e1e1;
    --negro: #000;
    --blanco: #fff;
    --fuenteHeadings: 'Playfair Display', serif;
    --fuentePrimaria: 'Raleway', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/

h1, h2, h3{
    font-family: var(--fuenteHeadings);
    margin: 0 0 5rem 0 ;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: var(--negro);
}

img{
    max-width: 100%;
    display: block;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    /*margin-inline: auto; Alternativa */
}

/** Header y Navegacion **/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: var(--colorPrimario);
}

.contenedor-navegacion{
    border-top: .1rem solid var(--grisPrimario);
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.hero{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem; 
}

/** Categorias **/

.categorias{
    margin-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: var(--colorPrimario);
    color: var(--blanco);
    border-bottom-right-radius: 1rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/** Bloque Nosotros **/

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, var(--colorPrimario) 50%, var(--colorPrimario) 100% ), url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    margin-top: 5rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem
}

.texto-nosotros{
    grid-column: 2 / 3;
    color: var(--blanco);
}


