/** Custom Properties **/

:root{
    --colorPrimario: #037bc0;
    --grisPrimario: #e1e1e1;
    --negro: #000;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/** Globales **/

a{
    text-decoration: none;
    color: var(--negro);
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    /*margin-inline: auto; Alternativa */
}

/** Header y Navegacion **/
.nombre-sitio{
    margin: 50px 0;
    text-align: center;
}

.nombre-sitio span{
    color: var(--colorPrimario);
}

.contenedor-navegacion{
    border-top: 1px solid var(--grisPrimario);
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.hero{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
}

/** Categorias **/
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


